venv/
__pycache__/
*.pyc
*.pyo
.env
logs/*.log
logs/*.txt
database/vector_store/
model/models/
piper/piper_exe
piper/*.onnx
piper/espeak-ng-data/
frontend/node_modules/
frontend/dist/
*.tmp
*.wav
/tmp/
.DS_Store
